streamlit
torch
torchvision
torchaudio
diffusers
transformers
accelerate
scipy
safetensors
pillow
python-dotenv
requests
numpy

# Install taesd from the GitHub repository
git+https://github.com/madebyollin/taesd.git
